<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jin.jerrykel.mypasswordmanager" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mon_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mon_icone_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <!-- A child of the main activity -->
        <activity android:name=".vue.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".vue.generer.GenererPasswordActivity" />
        <activity android:name=".vue.save.SaveActivity" />
        <activity android:name=".vue.save.appBord.AppBordActivity" />
        <activity android:name=".vue.save.createLogin.ConnectActivity" />
    </application>

</manifest>